.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100vw;
  height: 100vh;

  &__inner {
    padding: 24px;
    border: 3px solid red;
  }
}

.list {
  padding: 0;
  border: 1px solid green;
}
